{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  {% for message in app.session.flashbag.get('info') %}
    <p>{{ message }}</p>
  {% endfor %}
  

  <h2>Liste des annonces</h2>

  {{ 'advert.nombre'|transchoice(listAdverts|length) }}
  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oc_platform_view', {'advert_id': advert.id}) }}">
          #{{ advert.id }} : {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

  <ul class="pagination">
    {% for p in range(1, nbPages) %}
      <li {% if p == page %}class="active"{% endif %}>
        <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>&nbsp;
      </li>
    {% endfor %}
  </ul>

{% endblock %}